/* Color Palette

https://coolors.co/006064-c2185b-f3e6e2-f1fffa-4ecdc4
Dark Cyan : #007378
Raspberry : #d81b60
Misty Rose : #f3e6e2
Mint Cream : #f1fffa
Medium Turquoise : #4ecdc4
------------------------------*/

/* Google Fonts

Print
Titres - Modern Love
Intitulés - Century gothic
Texte - Consolas
Dates - Georgia

Web
font-family: 'Kalam', handwriting - h1/h2
font-family: 'Montserrat', sans-serif - h3
font-family: 'Inconsolata', monospace - p
font-family: 'Playfair Display', serif - dates

-------------------------------*/



/* Global Styles
-------------------------------*/

body {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    margin: 0;
}

h1, h2 {
	font-weight: bold;
}

h1 {
    font-family: 'Kalam', cursive;
    font-size: 80px;
}

h2 {
    font-family: 'Kalam', cursive;
    font-size: 40px;
    margin-top: 0;
    text-transform: uppercase;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin: 0;
}

h5 {
    font-family: 'Playfair Display', serif;
    padding-top: 10px;
    margin-bottom: 5;
}

p {
    padding-top: 10px;
}

a {
    font-family: 'Raleway', sans-serif;
	color: #4ecdc4;
}

a:hover {
    text-decoration: none;
	background-color: #d81b60;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: auto;
}

.uppercase {
    text-transform: uppercase;
}

.button {
    text-decoration: none;
    background-color: #c2185b;
    color: #000000;
    padding: 15px;
    display: inline-block;
}

/* Header and Footer
-------------------------------*/
header {
    background-color: #007378;
    color: #f6e8ea;
}

/* Header */
header {
    position: relative;
    text-align: justify;
}

.profile-image {
    border-radius: 100%;
}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

header h1, header h2 {
    color: #f3e6e2;
    margin: 0;
}

/* Footer */
footer {
	background-color: #312f2f;
	color: white;
    text-align: center;
}

.contact-info a {
    padding: 10px;
    display: inline-block;
}

footer a:hover {
    color: #d81b60;
	background-color: white;
}

/* Navigation
-------------------------------*/

nav a i {
    margin-left: 15px;
}

nav li a {
    color: #312f2f;
    text-decoration: none;
    text-transform: uppercase;
	font-size: 0.8em;
    font-weight: 600;
}

nav li a:hover {
    background-color: #4ecdc4;
    color: white;
}


/* Experience
-------------------------------*/

h3 ~ p {
    margin: 0;
}

.experience p {
    text-align: justify;
}

.job-description {
    margin-bottom: 25px;
}

.job-description p:first-of-type {
    margin-top: 0;
}


/* Education
-------------------------------*/

p + h3 {
    margin-top: 30px;
}

.education p {
    text-align: justify;
}


/* Skills
-------------------------------*/




/* Ethics
-------------------------------*/

.ethics p {
    text-align: justify;
}


/* Media Queries
-------------------------------*/
@media (min-width: 1000px) {
    .col-narrow {
        width: 30%;
        float: left;
    }

    .col-wide {
        width: 70%;
        float: left;
        padding-left: 20px;
    }
}

@media (max-width: 999px) {
    header {
        text-align: center;
    }
    .profile-image {
        width: 200px;
    }
	.collapse-button {
		display: none;
	}
}

@media (max-width: 749px) {
	nav {
        position: static;
        display: none;
    }
    /*Make all menu links full width*/
    nav a {
        width: 100%;
    }
	/*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
	#about {
		padding-top: 0;
	}
}