/* Color Palette

Smoky black : #0c0f0a
Raspberry : #d81b60  // #E91E63
Misty Rose : #f3e6e2
Mint Cream : #f1fffa
Medium Turquoise : #4ecdc4
------------------------------*/

/* Google Fonts

Web

    font-family: 'Prompt', sans-serif;

    font-family: 'Roboto Mono', monospace;
-------------------------------*/



/* Global Styles
-------------------------------*/

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin: 0;
}

h1 {
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 80px;
}

h2 {
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Prompt', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

h4 {
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin: 0;
}

h5 {
    font-family: 'Prompt', sans-serif;
    padding-top: 10px;
}

h6 {
    font-family: 'Prompt', sans-serif;
    font-size: 50px;
}

p {
    padding-top: 10px;
    margin: 0;
}

a {
    font-family: 'Prompt', sans-serif;
	color: #4ecdc4;
}

a:hover {
    text-decoration: none;
	background-color: #d81b60;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.content-header {
    max-width: 950px;
    margin: 0 auto;
    overflow: auto;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 40px 50px;
    overflow: auto;
}

.content-large {
    margin: 0 auto;
    padding: 60px 50px;
    overflow: auto;
}

.content-high {
    margin: 0 auto;
    padding: 40px 0;
    overflow: auto;
}

.uppercase {
    text-transform: uppercase;
}

.button {
    text-decoration: none;
    background-color: #c2185b;
    color: #000000;
    padding: 15px;
    display: inline-block;
}

.row {
    margin-bottom: auto;
}



/* Header and Footer
-------------------------------*/
header {
    background-color: #0c0f0a;
    color: #f6e8ea;
}

/* Header */
header {
    position: relative;
    text-align: justify;
}

nav a h1 {
    font-size: 49px;
    margin: 5px;
}

.black-header {
    background-color: #0c0f0a;
    text-align: right;
}

.profile-image {
    border-radius: 100%;
}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

header h1, header h2 {
    color: #f3e6e2;
    margin: 0;
}

/* Footer */
a.cta {
    color: #c2185b;
}

.contact-info a {
    display: inline-block;
}

a:hover {
    color: #4ecdc4;
	background-color: black;
}

footer a img:hover {
    background-color: #4ecdc4;
}

/* Navigation
-------------------------------*/

nav a i {
    margin-left: 15px;
}

nav li a {
    color: #f3e6e2;
    text-decoration: none;
    text-transform: uppercase;
	font-size: 0.8em;
    font-weight: 600;
}

nav li a:hover {
    background-color: #4ecdc4;
    color: black;
}


/* Service
-------------------------------*/
.service .card {
    border: 1px solid #4ecdc4;
}


input[type=range], input[type=range]+.thumb {
    cursor: none;
}


/* Experience
-------------------------------*/

h3 ~ p {
    margin: 0;
}

.experience p {
    text-align: justify;
}

.job-description {
    margin-bottom: 25px;
}

.job-description p:first-of-type {
    margin-top: 0;
}


/* Education
-------------------------------*/

p + h3 {
    margin-top: 30px;
}

.education p {
    text-align: justify;
}


/* Portfolio
-------------------------------*/
.portfolio img {
    width: 100%;
    filter: grayscale(100%);
}

.portfolio img:hover {
    filter: grayscale(0);
}



/* Media Queries
-------------------------------*/
@media (min-width: 1000px) {
    .col-narrow {
        width: 30%;
        float: left;
    }

    .col-wide {
        width: 70%;
        float: left;
        padding-left: 20px;
    }
}

@media (max-width: 999px) {
    header {
        text-align: center;
    }
    .profile-image {
        width: 200px;
    }
	.collapse-button {
		display: none;
	}
}

@media (max-width: 749px) {
	nav {
        position: static;
/*        display: none;*/
    }
    /*Make all menu links full width*/
    /* nav a {
        width: 100%;
    } */
	/*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
	#about {
		padding-top: 0;
	}
    h2 {
        font-size: 30px;
    }
}

@media (max-width: 375px) {
    .collection .collection-item {
        font-size: 0.8em;
        padding: 10px;
    }
}