body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper .input-field input[type=search] {
    width: 600px;
    height: 64px;
}

#hero {
    min-height: 604px; 
    height: 100vh;
    background-image: url('../images/hero-2.jpg'); 
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: left top;
    padding-top: 100px; 
} 

nav ul li.black-text {
    color: #000000;
}
